<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <style>
        .select {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div id="geocode">
        <geocode-component>1</geocode-component>
    </div>
    <script>
        Vue.component('geocode-component', {
            data: function () {
                return {
                    current: "",
                    option: [],
                };
            },
            computed: {
                data() {
                    const response = async () => {
                        const response = await fetch(`/index.php?query=${this.current}`, {cache: "no-cache"});
                        this.option = await response.json();
                    };

                    response();
                }
            },
            template: `
            <div class="select">
                <input v-model="current">
                <span style="display: none">{{data}}</span>
                <select size="6">
                    <option v-for="el in option" v-on:click="current = el">{{el}}</option>
                </select>
            </div>
            `,
        });

        new Vue({el: '#geocode'});
    </script>
</body>
</html>